ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100%;
  align-items: center;
}

li {
  height: 100%;
}

li a {
  font-size: 15px;
  padding: 0 1.25em 0 1.25em;
  display: block;
  height: 100%;
}

li:hover a {
  color: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #20d1c2;
  display:block
}

a:hover {
  background-color: transparent;
}

mat-icon {
  color: #20d1c2;
}

button {
  background-color: transparent;
}

button:focus {
  background-color: #2099d1;
  outline: none;
}

mat-toolbar {
  transition: height 0.25s ease-out, line-height 0.25s ease-out;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  height: 5.8em;
  padding: 0 0 0 16px;
  line-height: 5.8em;
  color: #20d1c2;
  background: #2099d1;
  /*
  position: fixed;
  */
  top: 0;
  z-index: 1;
}

mat-toolbar-row {
  height: auto;
}

mat-sidenav {
  width: 200px;
}

mat-nav-list a {
  color: #2099d1;
}

.mat-drawer.mat-drawer-end {
  height: fit-content;
}

.nav-menu-scroll {
  height: 3.5em;
  line-height: 3.5em;
  opacity: 0.85;
}

.spacer {
  flex: 1 1 auto;
}

.dropdown-link-styling {
  color: #2099d1;
}


/*CSS for bounce to bottom animation*/
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #20d1c2;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus {
  color: white;
  outline: none;
}

.hvr-bounce-to-bottom:active, .hvr-bounce-to-bottom:focus {
  opacity: 0.5;
}

.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/*End of CSS for bounce to bottom animation*/
