<mat-card *ngIf="stockCardDetails.ticker_result.name != undefined" class="example-card">
  <mat-card-header class="card-header">
    <mat-card-title>{{stockCardDetails.ticker_result.name}}</mat-card-title>
    <mat-card-subtitle>{{stockCardDetails.ticker_result.ticker}}</mat-card-subtitle>
    <img class="card-avatar" mat-card-avatar src={{stockCardDetails.ticker_details.logo}}>
  </mat-card-header>
  <mat-card-content class="card-content">
    <h3 class="stock-card-h3">Daily Open/Close Value:</h3>
    <p>
      {{stockCardDetails.ticker_result.name}}'s daily open stock value was: {{stockCardDetails.daily_open_close_details.open}} USD,
      while it's daily close stock value was: {{stockCardDetails.daily_open_close_details.close}} USD.
    </p>
    <h3 class="stock-card-h3">Company Info:</h3>
    <p>{{stockCardDetails.ticker_details.description}}</p>
    <h3 class="stock-card-h3">Sector / Industry:</h3>
    <p>{{stockCardDetails.ticker_details.sector}} - {{stockCardDetails.ticker_details.industry}}</p>
    <h3 class="stock-card-h3">Company Website:</h3>
    <p><a href={{stockCardDetails.ticker_details.url}}>{{stockCardDetails.ticker_details.url}}</a></p>
  </mat-card-content>
</mat-card>
