<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>Enter A Ticker Symbol</mat-label>
  <input matInput type="text" [(ngModel)]="value">
  <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<button [disabled]="!value" (click)="getTickerInfo(value)" mat-raised-button color="accent">Get Stock Info</button>
<mat-card *ngIf="tickerInfo.name != undefined" class="example-card">
  <mat-card-title>{{tickerInfo.name}}</mat-card-title>
  <mat-card-subtitle>{{tickerInfo.ticker}}</mat-card-subtitle>
  <mat-card-content>
    <p>
      {{tickerInfo.name}}'s daily open stock value is: {{dailyTickerValue.open}}.<br/>
      {{tickerInfo.name}}'s daily close stock value is: {{dailyTickerValue.close}}.
    </p>
    <p>{{longText}}</p>
  </mat-card-content>
</mat-card>
